/* App.css */

/* Apply styles to the entire app */
body {
    font-family: Arial, sans-serif; /* Set a default font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #f0f0f0; /* Set a background color */
  }
  
  /* Style the main container */
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container fills the height of the viewport */
  }
  
  /* Style the header */

/* styles.css */
.page-container {
  padding: 1rem;
  min-height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #1d4ed8;
}

.table-container {
  width: 100%;
  max-width: auto;
  overflow-x: auto;
}

.data-table {
  width: 100%;
  background-color: #fff;
  border: 1px solid #d1d5db;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.table-header {
  background-color: #2563eb;
  color: #fff;
}

.table-header th {
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}

.table-row:nth-child(even) {
  background-color: #f3f4f6;
}

.table-cell {
  padding: 0.75rem 1.5rem;
  color: #374151;
  font-size: 1rem;
  border: 1px solid #d1d5db;
}

  /* Search bar styling */
.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  display: block;
 
}

.search-bar:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.page-button:hover {
  background-color: #ddd;
}

.page-button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}


