/* Home.css */
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align cards horizontally at the center */
  min-height: 100vh; /* Ensure the container fills the height of the viewport */
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 300px; /* Adjust the width as needed */
  margin: 10px; /* Add margin between cards */
  height: 400px; /* Adjust the width as needed */
  margin-top: 40px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card-info {
  padding: 16px;
  text-align: center;
}

.card-info h3 {
  margin-top: 0;
}

.card-info p {
  margin-bottom: 0;
}
/* Home.css or styles.css */

/* Style for the HTML container */
.html-container {
  width: 100%; /* Full width of the parent container */
  max-width: 1200px; /* Maximum width for the container */
  margin: 20px auto; /* Center the container and add some margin */
  padding: 10px; /* Add some padding inside the container */
  background-color: #f9f9f9; /* Light background color */
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Styling for the iframe inside the HTML container */
.html-container iframe {
  width: 100%; /* Make the iframe take the full width of the container */
  height: 600px; /* Set a fixed height for the iframe */
  border: none; /* Remove the border of the iframe */
}

/* Container for the image */
.image-container {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  margin-top: 20px; /* Add some space above the image */
  margin-bottom: 20px; /* Add some space below the image */
}

/* Styling for the image inside the container */
.home-image {
  max-width: 100%; /* Ensure the image is responsive and doesn't overflow */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: rounded corners for the image */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better appearance */
}


